@mixin fadeInUpAnimation($animation-delay: 0s, $animation-durration: 2s) {
    opacity: 0;
    transform: translateY(20%);
    animation: fadeInUp $animation-durration ease $animation-delay forwards;
}

@mixin animatedTextWriter($direction, $animation-delay) {
    position: relative;
    display: block;

    &:before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: white;
        animation: if($direction==left, typewriterLeft, typewriterRight) 2s ease $animation-delay forwards;
    }
}

@mixin blinkingTextAnimation($animation-speed, $animation-delay: 4s) {
    opacity: 1;
    transform: scale(1.05);
    animation: blink $animation-speed ease-out $animation-delay infinite;
}

@mixin smoothTransitionAnimation($direction: -100%, $durration: 1.5s) {
    opacity: 0;
    filter: blur(10px);
    transform: translateX($direction);
    animation: smoothTransition $durration ease forwards;
}

@mixin smoothAppearanceAnimation($durration: .5s) {
    opacity: 1;
    animation: smoothAppearance $durration ease-in;
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typewriterLeft {
    to {
        left: 100%;
    }
}

@keyframes typewriterRight {
    to {
        right: 100%;
    }
}

@keyframes blink {
    to {
        opacity: 0.8;
        transform: scale(1);
    }
}

@keyframes smoothTransition {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

@keyframes smoothAppearance {
    from {
        opacity: 0.1;
    }
}