$orange-accent-color: #c28a44;
$dark-orange-accent-color: #b2775e;
$white-orange-accent-color: #E6B080;
$landing-green: #273b0b;
$nav-background: #f5f5f5f2;
$nav-background: rgba(245, 245, 245, 0.98);
$nav-box-shadow: -2px 5px 8px 0px #00000042;
$transperent-accent-color: rgba(214, 172, 119, 0.85);
$btn-red: red;
$btn-confirm: green;