.div-404 {
    text-align: center;
}

.back-to-earth-404 {
    position: absolute;
    top: 160px;
    left: 690px;
    color: whitesmoke;
    box-shadow: 2px -1px 19px 9px #00000096;
    background: transparent;
}

.earth-container-404 {
    width: 100px;
    position: absolute;
    top: 120px;
    left: 900px;
    cursor: pointer;
}

.img {
    width: 100%;
}

.h1 {
    position: absolute;
    text-align: center;
    color: white;;
    left: 50%;
    top: 120px;
    transform: translate(-50%, -50%);
}

.background {
    width: 800px;
    margin: 0 auto;
}