@use 'src/scss/common/fonts' as *;
@use 'src/scss/common/colors' as *;
@use 'src/scss/common/media' as *;

.container {
    overflow-y: scroll;
    max-height: 60vh;
    width: 100%;
    padding: 0 0 60px 80px;
    overflow-x: hidden;

    @include maxWidthMediaQuery(520px) {
        padding: 0;
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        margin-top: 20px;
        background: #57595f30;
        border-radius: 50px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #4048608a;
        border-radius: 50px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: #57595fc5;
    }
}

.heading {
    @include customHeadingFont('bold');
    font-size: 1.4rem;
    margin: 0 0 30px 0;
    text-align: center;
}

.no-comments {
    text-align: center;
    margin: 100px 80px 0 0;

    @include maxWidthMediaQuery(1000px) {
        margin: 0;
    }
}
