@use 'src/scss/common/colors' as *;
@use 'src/scss/common/fonts' as *;
@use 'src/scss/common/media' as *;

.recipe-name,
.recipe-owner,
.recipe-category {
    margin-top: 0;
    @include customHeadingFont(bold);
}

.published {
    color: $white-orange-accent-color;
    padding-right: 10px;
}

.owner-name {
    color: $white-orange-accent-color;
    text-decoration: underline;
}

.recipe-name {
    display: inline-block;
    width: 300px;

    @include maxWidthMediaQuery(1000px) {
        min-height: 0;
        width: initial;
    }
}

.recipe-category {
    margin-bottom: 10px;
}

.recipe-category {
    color: $white-orange-accent-color;
}

.recipe-image-container {
    width: 335px;
    height: 335px;
    border-radius: 50%;
    z-index: 1;
    box-shadow: 1px 1px 9px 0px #00000082;
    order: 1;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.favourites {
    margin-bottom: 50px;

    &:hover {
        cursor: pointer;
    }
}