@use 'src/scss/common/colors' as *;
@use 'src/scss/common/fonts' as *;

.recipe-name,
.recipe-owner,
.recipe-category {
    margin-top: 0;
    @include customHeadingFont(bold);
}

.published {
    color: $white-orange-accent-color;
    padding-right: 10px;
}

.recipe-name {
    display: inline-block;
    width: 300px;
    min-height: 114px;
}

.recipe-category {
    margin-bottom: 10px;
}

.recipe-category {
    color: $white-orange-accent-color;
}

.recipe-image-container {
    width: 335px;
    height: 335px;
    border-radius: 50%;
    margin-left: 125px;
    z-index: 1;
    box-shadow: 1px 1px 9px 0px #00000082;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}