@use 'src/scss/common/colors' as *;
@use 'src/scss/common/fonts' as *;
@use 'src/scss/common/media' as *;

.container {
    background: linear-gradient(130deg, rgba(53, 61, 81, 0.7008928571428572) 0%, rgba(53, 61, 81, 1) 20%);
    color: white;
    padding-top: 40px;
    font-size: 1.25rem;
    padding-bottom: 50px;
    margin-bottom: -30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    @include maxWidthMediaQuery(1000px) {
        flex-direction: column;
    }
}

.left-section {
    flex: 0.5;
}

.top-section {
    display: flex;

    @include maxWidthMediaQuery(1000px) {
        flex-direction: column;
        align-items: center;
    }

    section {
        @include maxWidthMediaQuery(1000px) {
            order: 2;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
    }
}

.method {
    margin-top: 110px;
}

.methods-section {
    display: flex;
    padding: 0 30px;

    @include maxWidthMediaQuery(450px) {
        padding: 0 20px;
    }
}

.methods {
    -webkit-mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    width: 75%;
    max-height: 50vh;
    overflow-y: scroll;
    position: relative;
    padding-bottom: 70px;

    @include maxWidthMediaQuery(1000px) {
        width: 100%;
        max-height: 70vh;
    }

    &::-webkit-scrollbar {
        width: 7px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
        margin-top: 20px;
        background: #57595f;
        border-radius: 50px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
        background: #FCBE84;
        border-radius: 50px;
        height: 50px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
        background: $orange-accent-color;
    }
}

.current-method-step {
    padding-left: 20px;
    padding-top: 75px;
    color: $white-orange-accent-color;
    font-size: 1rem;

    @include maxWidthMediaQuery(1000px) {
        min-width: 70px;
    }

    @include maxWidthMediaQuery(450px) {
        display: none;
    }
}

.panel-container {
    background: whitesmoke;
    border-radius: 35px;
    color: black;
    padding: 50px 0 0 0;
    font-size: 1rem;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include maxWidthMediaQuery(1000px) {
        width: 90%;
        margin: 0 30px;
        padding: 0;
    }
}