@use 'src/scss/common/media' as *;

.navigation {
    background: #a2a8babd;
    border-radius: 6px 6px 35px 35px;
    width: 100%;
    padding: 2px 0;

    @include maxWidthMediaQuery(1000px) {
        order: -1;
        border-radius: 35px 35px 6px 6px;
    }

    ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
    }

    .nav-icon {
        font-size: 1.25rem;
        color: #57595f;
        padding: 10px 0;
        background-image: linear-gradient(#57595f, #515560);
        background-size: 0% 0.1em;
        background-position-y: 100%;
        background-position-x: 50%;
        background-repeat: no-repeat;
        transition: background-size 0.4s ease-out;
        cursor: pointer;

        &:hover {
            background-size: 100% 0.15em;
            color: #57595fc9
        }
    }
}